<% include ../partials/header %>



  <header class="jumbotron text-center">
    <div class="container">
      <h1>Welcome to Yelp Camp</h1>
      <p>View our hand-picked campgrounds from all over the world!</p>
    </div>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New campground</a>
  </header>

  <div>
    <select name="sort" id="sort-by">
      <option value="1">Asc. Order</option>
      <option value="2">Des. Order</option>
      <option value="3">Most liked</option>
      <option value="4">Least Liked</option>
    </select>
  </div>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= campground.image %>">
        <div class="caption">
          <h4> <%= campground.name %></h4>
        </div>
        <div class="like-display-container">
          <p><i class="glyphicon glyphicon-thumbs-up like-icon"></i> <%= campground.likes.length %></p>
        </div>
        <p>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary more-button">More Info</a>
        </p>
      </div>
    </div>
    <% }) %>
  </div>


<% include ../partials/footer %>