.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

.form{
    width: 30%;
    margin: 25px auto;
}

.navbar-link{
    border-bottom: 2px solid #f8f8f8;
}

.navbar-link:hover{
    border-bottom: 2px solid black;
    transition-duration: 0.8s;
}

header{
    background-image: url(../img/cover.jpg.jpg);
    background-position: center;
    background-size: cover;
}

header div{
    color: white;
}